<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <title>home</title>

    <meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
    <meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
    <meta name="author" content="Codrops" />

    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/css/style.css">
    <style>
        ul {
            list-style-type: none;
            margin-top: 10px;
            padding-left:25px ;
            float:none;
        }
    li{
        padding-left:10px;
        
        color:green;
    }
        </style>
</head>

<body>
    <div>




        <ul id="gn-menu" class="gn-menu-main" style="z-index:1;">
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">
                        <ul class="gn-menu">
                            <li><a href="/user/profile" class="gn-icon ion-ios-person">Profile</a></li>
                            <li><a href="/edit_profile" class="gn-icon ion-ios-person">Edit Profile</a></li>
                            <li><a href="/user/my_articles" class="gn-icon gn-icon-article">My Articles</a></li>

                            <li><a href="/user/new_article" class="gn-icon ion-md-add-circle-outline">Create Article</a></li>
                            <!--  <li><a class="gn-icon  ion-ios-settings">Settings</a></li> -->

                            <li><a href="/user/logout" class="gn-icon ion-md-log-out">Logout</a></li>
                            <!-- <li><a class="gn-icon ion-md-log-out">Logout</a></li>
                                             <li><a class="gn-icon ion-md-log-out">Logout</a></li>

                                             <li><a class="gn-icon gn-icon-archive">Archives</a></li> -->




            </li>
        </ul>
    </div><!-- /gn-scroller -->
    </nav>
    </li>

    <li class="navbar-nav absolute-right">
        <a href="#">logout</a>
    </li>

    </ul>
    </div>




    <div class="abc" style="margin-top: 60px">


        <div class="mb-5 element-animate">
            <div class="block-17">
                <h2 class="heading text-center mb-4">Find Articles On Any Catagory</h2>
                <form action="/user/search/" method="post" class="d-block d-lg-flex mb-4">
                    <div class="fields d-block d-lg-flex">

                        <div class="textfield-search one-third"><input type="text" name="keywords" id="keyword" class="form-control"
                                placeholder="Keyword search..."></div>
                                <br>
                                <div id="result">
                                </div>

                        <div class="textfield-search one-third"><input type="text" id="author" class="form-control"
                                placeholder="Author search..."></div>
                                <div id="result1">
                                </div>
                    </div>
                    <input type="submit" class="search-submit btn btn-primary" value="Search">
                </form>
                <div class="container-fluid">
                    <div class="row">
                        
                        </div>
                        <div id="result1" class="col-md-offset-4 col-md-4">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- loader -->
        <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/jquery-migrate-3.0.0.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/jquery.waypoints.min.js"></script>
        <script src="/js/jquery.stellar.min.js"></script>
        <script src="/js/jquery.animateNumber.min.js"></script>

        <script src="/js/jquery.magnific-popup.min.js"></script>

        <script src="/js/main.js"></script>


    </div><!-- /abc -->

    <script src="/js/classie.js"></script>
    <script src="/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>

</body>

</html>
<script>

$(document).ready(function () {
    $('#author').keyup(function () {
            var query1 = $(this).val();
            if (query1 != '') {
                $.ajax({
                    url: "/user/searchajax2/",
                    method: "POST",
                    data: { query2: query1 },
                    success: function (data) {
                        $('#result1').fadeIn();
                        $('#result1').html(data);
                    }
                });
            }
        });
});
</script>
<script>
    //Ajax search based on keywords
    $(document).ready(function () {
        

        $('#keyword').keyup(function () {
            var query = $(this).val();
            if (query != '') {
                $.ajax({
                    url: "/user/searchajax/",
                    method: "POST",
                    data: { query: query },
                    success: function (data) {
                        $('#result').fadeIn();
                        $('#result').html(data);
                    }
                });
            }

        });
    });
    $(document).on('click', 'li', function () {
        $('#keyword').val($(this).text());
        $('#result').fadeOut();
    });
    $('body').on('click', function () {
        $('#result').fadeOut();
    });
</script>