<!DOCTYPE html>
<html>
<body>
    <form action="/fileupload" method='post' enctype='multipart/form-data'>
        Name:<br>
        <input type='text' name='title'><br>

        Category:<br>
        <input type='text' name='category'><br>
        file:<br>
        <input type="file" name='pdf'><br>
        submit:
        <button type='submit'></button>
    </form>

</body>

</html>
